<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<script>

$(document).ready(function(){
	$('#update_btn').click(function(){
		$('#update_form').attr({
			'method':'post',
			'action':'[[@{/mentor/qualify}]]'
		});
		$('#update_form').submit();
	});
});

</script>

</head>

		<div class="container-fluid pt-4 px-4">
			<div class="row g-4" style="float:none; margin:0  auto;">
                    <div class="col-sm-12 col-md-6 col-xl-8" style="float:none; margin:0  auto;">
						
						<form id="update_form">
                        <div class="bg-light rounded h-100 p-4" th:each="mti:${mti}">
                        
                            <div class="testimonial-item text-center">
                            <img class="img-fluid rounded mx-auto mb-4" th:src="@{/img/}+${mti.mentoringimg}" style="width: 50%;">
                                <!-- <input th:value=${mentor.mentorimg} name="mentorimg" style="display:none"> -->
                                <h5 class="mb-1" th:text="${mti.mtitle}">Name</h5>
                            </div>                        
                            <hr>
                            <dl class="row mb-0">
                                <!-- mentoringid 받는 태그 -->
                                <dd class="col-sm-4" th:text="${mti.mentoringid}" id="mentoringid" style="display:none"></dd>
                                <!-- <input th:value=${mentor.mentorid} name="mentorid" style="display:none"> -->
                                
                                <dt class="col-sm-4">담당 멘토</dt>
                                <dd class="col-sm-8">
                                    <dl class="row">
<!--                                         <dt class="col-sm-4">이미지
                                        </dt>
		                                <dd class="col-sm-8" >
			                            <img class="img-fluid rounded mx-auto mb-4" th:src="@{/img/}+${mentor.mcardimg}" alt="명함 이미지" style="width: 150%;">
		                                </dd> -->
                                        <dt class="col-sm-4">이름</dt>
		                                <dd class="col-sm-8" th:text="${mti.user_username}"></dd>
                                        <dt class="col-sm-4">회사</dt>
		                                <dd class="col-sm-8" th:text="${mti.mentor_mentorcom}"></dd>
                                    </dl>
                                </dd>
                                <hr>
                                <dt class="col-sm-4">멘토링 내용</dt>
                                <dd class="col-sm-8" th:text="${mti.mcontents}" style="white-space:pre-wrap;"></dd>
                                <!-- <input th:value=${mentor.userid} name="userid" style="display:none"> -->

                                <dt class="col-sm-4">카테고리</dt>
                                <dd class="col-sm-8" th:text="${mti.mcate_mname}"></dd>
                                <!-- <input th:value=${mentor.adminid} name="adminid" style="display:none"> -->
                                
                                
                                <dt class="col-sm-4">등록일</dt>
                                <dd class="col-sm-8" th:text="${#dates.format(mti.mrdate,'yyyy-MM-dd HH:mm')}" style="word-break: break-all"></dd>

                                <dt class="col-sm-4">실시일</dt>
                                <dd class="col-sm-8" th:text="${#dates.format(mti.mentoringdate,'yyyy-MM-dd')}" style="word-break: break-all"></dd>

                                <dt class="col-sm-4">장소</dt>
                                <dd class="col-sm-8" th:text="${mti.mplace}" style="word-break: break-all"></dd>
                                <hr>
                                
                                <dt class="col-sm-4">비대면용 url</dt>
                                <dd class="col-sm-8" th:text="${mti.mentorurl}" style="word-break: break-all"></dd>
                                
                                <dt class="col-sm-4">모집정원</dt>
                                <dd class="col-sm-8" th:text="${mti.mmemberidcnt}" style="word-break: break-all"></dd>
                                
                                <dt class="col-sm-4">케어 서비스</dt>
                                <dd class="col-sm-8" th:if="${mti.mcaring == 1}">제공</dd>
                                <dd class="col-sm-8" th:if="${mti.mcaring == 0}">미제공</dd>
                                
                                <dt class="col-sm-4">가격</dt>
                                <dd class="col-sm-8" th:text="${mti.mentoringprice}" style="word-break: break-all"></dd>

                            </dl>
                            <!-- <div>&nbsp</div> -->
<!--                             <div class="col-sm-12 text-center">
                            <button type="button" id="update_btn" class="btn btn-lg btn-primary m-2" th:if="${mentor.mentorok == 0}">승인하기</button>
                            <button type="button" class="btn btn-lg btn-danger m-2" th:if="${mentor.mentorok == 1}">취소하기</button>
                            </div> -->
                            
                        </div>
                        </form>
                         
                    </div>				
			
			
			</div>
		</div>
                
                

</html>