<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


</head>

		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">
			
					<div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Responsive Table</h6>
                            <div class="table-responsive">
                                <table class="table table-hover" style="text-align:center">
                                    <thead>
                                        <tr>
                                            <th scope="col">멘토 번호</th>
                                            <th scope="col">사용자 ID</th>
                                            <th scope="col">담당 관리자</th>
                                            <th scope="col">회사</th>
                                            <th scope="col">신청 날짜</th>
                                            <th scope="col">승인 날짜</th>
                                            <th scope="col">승인 여부</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mentor:${mentor}">
                                            <th scope="row" th:text="${mentor.mentorid}">
                                            </th>
                                            <td>
		                                    	<a th:text="${mentor.userid}" th:href="@{/mentor/detail(mentorid=${mentor.mentorid})}"></a>
                                            </td>
                                            <td th:text="${mentor.adminid}"></td>
                                            <td th:text="${mentor.mentorcom}"></td>
                                            <td th:text="${#dates.format(mentor.mentorapply,'yyyy-MM-dd HH:mm')}"></td>
                                            <td th:text="${#dates.format(mentor.mentordate,'yyyy-MM-dd HH:mm')}"></td>
                                            <td style="width:15%">
                                            <button type="button" class="btn btn-sm btn-primary m-2" th:if="${mentor.mentorok == 1}">승인 완료</button>
                                            <button id="blink" type="button" class="btn btn-sm btn-danger m-2" th:if="${mentor.mentorok == 0}">승인 대기</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>				
			
			</div>
		</div>
                
                

</html>