<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

		<div class="container-fluid pt-4 px-4">
			<div class="row g-4" style="float:none; margin:0  auto;">
                    <div class="col-sm-12 col-md-6 col-xl-8" style="float:none; margin:0  auto;">

                        <div class="bg-light rounded h-100 p-4" th:each="user:${user}">
                        
                            <div class="testimonial-item text-center">
                                <h5 class="mb-1" th:text="${user.username}">Name</h5>
                            </div>                        
								<dt>&nbsp</dt>
                            <hr>
                            <dl class="row mb-0">
                                <dt class="col-sm-4">연락처</dt>
                                <dd class="col-sm-8" th:text="${user.usertel}"></dd>


                                <dt class="col-sm-4">메일</dt>
                                <dd class="col-sm-8" th:text="${user.useremail}"></dd>
								<hr>
                                <dt class="col-sm-4">SNS ID</dt>
                                <dd class="col-sm-8">
                                    <dl class="row">
                                        <dt class="col-sm-4">Naver</dt>
                                        <dd class="col-sm-8" th:if="${not #strings.isEmpty(user.naverid)}" th:text="${user.naverid}"></dd>
                                        <dd class="col-sm-8" th:if="${#strings.isEmpty(user.naverid)}" th:text="미입력"></dd>
                                        <dt class="col-sm-4">Kakao</dt>
                                        <dd class="col-sm-8" th:if="${not #strings.isEmpty(user.kakaoid)}" th:text="${user.kakaoid}"></dd>
                                        <dd class="col-sm-8" th:if="${#strings.isEmpty(user.kakaoid)}" th:text="미입력"></dd>
                                        <dt class="col-sm-4">Google</dt>
                                        <dd class="col-sm-8" th:if="${not #strings.isEmpty(user.googleid)}" th:text="${user.googleid}"></dd>
                                        <dd class="col-sm-8" th:if="${#strings.isEmpty(user.googleid)}" th:text="미입력"></dd>
                                    </dl>
                                </dd>
                                <hr>
                                <dt class="col-sm-4">우편번호</dt>
                                <dd class="col-sm-8" th:text="${user.addrnum}"></dd>
                                
                                <dt class="col-sm-4">주소</dt>
                                <dd class="col-sm-8" th:text="${user.useraddr}" style="word-break: break-all"></dd>
                                
                                <dt class="col-sm-4">상세주소</dt>
                                <dd class="col-sm-8" th:text="${user.addrdetail}" style="word-break: break-all"></dd>
                                
                                <dt class="col-sm-4">추가주소</dt>
                                <dd class="col-sm-8" th:if="${not #strings.isEmpty(user.addrextra)}" th:text="${user.addrextra}" style="word-break: break-all"></dd>
                                <dd class="col-sm-8" th:if="${#strings.isEmpty(user.addrextra)}" th:text="미입력"></dd>
                                <hr>
                                <!-- <dt>&nbsp</dt> -->
                                <dt class="col-sm-4">SNS 개인 계정</dt>
                                <dd class="col-sm-8">
                                    <dl class="row">
                                        <dt class="col-sm-4">Instargram</dt>
                                        <dd class="col-sm-8" th:if="${not #strings.isEmpty(user.snsinsta)}" th:text="${user.snsinsta}" style="word-break: break-all"></dd>
                                        <dd class="col-sm-8" th:if="${#strings.isEmpty(user.snsinsta)}" th:text="미입력"></dd>
                                        <dt class="col-sm-4">GitHub</dt>
                                        <dd class="col-sm-8" th:if="${not #strings.isEmpty(user.snsgit)}" th:text="${user.snsgit}" style="word-break: break-all"></dd>
                                        <dd class="col-sm-8" th:if="${#strings.isEmpty(user.snsgit)}" th:text="미입력"></dd>
                                    </dl>
                                </dd>
								<hr>
                            </dl>
                        </div>                    
                    
<!--                         <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Testimonial</h6>
                            <div class="owl-carousel testimonial-carousel">
                                
                                <div class="testimonial-item text-center">
                                    <h5 class="mb-1">Client Name</h5>
                                    <p>Profession</p>
                                    <p class="mb-0">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                                </div>
                                
                            </div>
                        </div> -->
                        
                    </div>				
			
			
			</div>
		</div>
                
                

</html>